<table class="table">
  <thead>
    <tr>
      <th scope="col">Stan</th>
      <th scope="col">Data startu</th>
      <th scope="col">Uniwersum</th>
      <th scope="col">Wydawca</th>
      <th scope="col">Kolekcja</th>
    </tr>
  </thead>
  <tbody>
    <% data.collections.each do |collection| %>
      <tr>
        <td scope="row">
          <% if data.collection[collection.slug] %>
            <% if data.collection[collection.slug].size == books_exist_count(collection.slug) %>
              <i class="bi bi-check-circle-fill text-success"></i>
            <% else %>
              <i class="bi bi-hourglass-split text-warning"></i>
            <% end %>
          <% else %>
            <i class="bi bi-question-circle-fill text-danger"></i>
          <% end %>
        </td>
        <th><%= collection.date %></th>
        <th><%= collection.universum %></th>
        <th><%= collection.publisher %></th>
        <td>
          <% if data.collection[collection.slug] %>
            <%= link_to collection.name, "/kolekcje/#{collection.slug}.html", relative: true %>
          <% else %>
            <%= collection.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
