<% page = locals[:page] ? page : 1 %>
<% prev_page = page == 1 ? 1 : page - 1 %>
<% next_page = page == config[:last_book_page] ? config[:last_book_page] : page + 1 %>

<div class="row">
  <div class="col-sm-12 my-2">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <% link_to "/1.html", class: "page-link", relative: true do %>
            <span aria-hidden="true">&laquo;</span>
          <% end %>
        </li>
        <li class="page-item">
          <% link_to "/#{prev_page}.html", class: "page-link", relative: true do %>
            <span aria-hidden="true">&lt;</span>
          <% end %>
        </li>
        <li class="page-item disabled">
          <span class="page-link">strona: <%= page %></span>
        </li>
        <li class="page-item">
          <% link_to "/#{next_page}.html", class: "page-link", relative: true do %>
            <span aria-hidden="true">&gt;</span>
          <% end %>
        </li>
        <li class="page-item">
          <% link_to "/#{config[:last_book_page]}.html", class: "page-link", relative: true do %>
            <span aria-hidden="true">&raquo;</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>

  <% paaginated_books = books[((page - 1) * config[:book_page_size]), config[:book_page_size]] %>
  <% paaginated_books.each do |book| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card mx-1 my-2">
        <div class="card-header">
          <%= book.collection_name %> #<%= book.number %>
        </div>
        <%= image_tag "covers/#{book.collection_slug}/#{data.isbn[book.isbn].image}", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">
            <% if book.isbn && book.isbn != "" && data.isbn[book.isbn] %>
              <%= link_to book.name, "/ksiazka/#{book.isbn}.html", relative: true %>
            <% else %>
              <%= book.name %>
            <% end %>
          </h5>
          <p class="card-text"><%= book.release_date %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= book.publisher %></small>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-sm-12 my-2">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <% link_to "/1.html", class: "page-link", relative: true do %>
            <span aria-hidden="true">&laquo;</span>
          <% end %>
        </li>
        <li class="page-item">
          <% link_to "/#{prev_page}.html", class: "page-link", relative: true do %>
            <span aria-hidden="true">&lt;</span>
          <% end %>
        </li>
        <li class="page-item disabled">
          <span class="page-link">strona: <%= page %></span>
        </li>
        <li class="page-item">
          <% link_to "/#{next_page}.html", class: "page-link", relative: true do %>
            <span aria-hidden="true">&gt;</span>
          <% end %>
        </li>
        <li class="page-item">
          <% link_to "/#{config[:last_book_page]}.html", class: "page-link", relative: true do %>
            <span aria-hidden="true">&raquo;</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>
